.header-catalog {
    min-height: 35rem;
}

.search-catalog {
    padding-top: 3.5rem;
}

.recommend-catalog__title {
    margin-bottom: 4rem;
    font-size: 4.4rem;
    color: rgb(19, 19, 19);
}

.price__title {
    margin-bottom: 4rem;
}
.price__inner{
    padding-bottom: 12rem;
}
.price__text {
    margin-bottom: 2rem;
    font-family: 'Gilroy';
    font-weight: 500;
    line-height: 3rem;
}