.nav-icon {
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    z-index: 6;
    border-radius: 50%;
}

.nav-icon__middle {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.nav-icon__middle::before,
.nav-icon__middle::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.nav-icon__middle::before {
    top: 8px;
    transition: all .2s ease-in;
}

.nav-icon__middle::after {
    bottom: 8px;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle::before {
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;

}

.nav-icon.nav-icon--active .nav-icon__middle::after {
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in;

}


@media(max-width: 1550px) {
    html {
        font-size: 8px;
    }
}

@media(max-width: 1300px) {

    .header-top__date,
    .header-top__social {
        display: none;
    }

    .logo {
        width: 110px;
    }

    .header-form__item-input {
        padding: 0 .3rem 0rem 1rem;
    }


}

@media(max-width: 1150px) {
    .header-form {
        flex-wrap: wrap;
    }

    .header-form__item {
        width: calc(100% / 2 - 2rem);
    }
}

@media(max-width: 1050px) {
    .nav-icon {
        position: relative;
        display: block;
        z-index: 8;
    }

    .menu {
        position: fixed;
        width: 100%;
        // height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
        flex-direction: column;
        height: 100%;
        // background: rgb(220, 220, 220);
        background: rgb(77, 172, 184);
        right: 0;
        top: 0;
        color: #363636;
        z-index: 2;
        border-radius: 0px;
        transform: translateX(200%);
        transition: all .5s ease-in;
    }

    .menu__list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 8.5rem;
        margin-bottom: 2rem;
        gap: 2.5rem;
    }

    .menu__list li {
        padding-bottom: 1rem;
    }

    .menu__list li a {
        text-transform: none;
        text-align: center;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

    .menu.nav--active {
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }

    .header-top__contact {
        flex-direction: row;
        gap: 3rem;
    }

    .menu__list li:nth-child(2):after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background: url('../images/header/menu-arrows.svg') no-repeat;
        top: 7px;
        right: -30px;
    }

    .menu__list li .sub-menu li:nth-child(2):after {
        display: none;
    }
}


@media(max-width: 768px) {
    .header-top__contact {
        gap: 1rem;
    }

    .header-top__contact-phone {
        font-size: 16px;
        text-transform: none;
    }

    .header-top__contact-btn {
        height: 4rem;
        line-height: 4rem;
        width: 135px;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
    }

    .header-center__title {
        line-height: 1;
    }

    .logo {
        width: 60px;
    }
}

@media(max-width: 550px) {
    .header-top__contact {
        display: none;
    }

    .header-form__item {
        width: 100%;
    }

    .header-top {
        margin-bottom: 4rem;
    }

    .header-center__title {
        margin-bottom: 2rem;
        font-size: 27px;
    }

    .header-center__text {
        margin-bottom: 3rem;
        font-size: 20px;
        text-transform: none;
    }

    .logo {
        width: 70px;
    }

    .header-form__item-btn {
        margin-bottom: 1rem;
        text-transform: none;
    }
}