.product {
    padding-bottom: 12rem;
}

.product__title {
    margin-bottom: 4rem;
    text-align: left;
}

.product-one__wrapper {
    display: flex;
    gap: 6rem;
    justify-content: space-between;
}

.product-one__inner {
    width: 75%;
}

.product-slide__big-item img {
    width: 96%;
    object-fit: cover;
    border-radius: 2rem;
}

.product-slide__thumb {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.product-slide__thumb__wraper {
    margin-left: .5rem;
    margin-right: .5rem;
}

.product-one__info {
    width: 25%;

}

.product-one__desc,
.product-bottom__form {
    padding: 4rem;
    border-radius: 30px;
    background: rgb(250, 250, 250);
}

.product-one__rating {
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
}

.product-one__rating-title {
    font-weight: 400;
}

.product-one__rating-img {
    object-fit: contain;
}

.product-one__info-btn {
    margin-bottom: 4rem;
    width: 100%;
    height: 6rem;
    padding: 0;
    color: rgb(250, 91, 3);
    background-color: transparent;
    border: 2px solid rgb(250, 91, 3);
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s ease-in;
}

.product-one__info-btn:hover {
    background: rgb(77, 172, 184);
    color: #fff;
    transition: all .4s ease-in;
    border: 2px solid rgb(77, 172, 184);
}

.product-one__rating-map {
    margin-bottom: 4rem;
    border-radius: 20px;
}

.product-one__box {
    margin-bottom: 2rem;
}

.product-one__info-text {
    font-size: 16px;
    font-weight: 400;
}

.product-one__info-phone,
.product-one__info-email {
    font-weight: 400;
    color: rgb(250, 91, 3);
}

.product-one__info-phone:hover,
.product-one__info-email:hover {
    color: rgb(77, 172, 184);
}

.product-one__price {
    margin: 4rem 0 3rem 0;
    display: flex;
    gap: .5rem;
}

.product-one__price-text {
    font-weight: 400;
}

.product-one__block {
    margin-bottom: 4rem;
    width: 75%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.product-one__icon {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.product-one__icon-text {
    line-height: 1;
}

.product-bottom__left {
    width: 75%;
}

.product-bottom__right {
    width: 25%;
}

.product-bottom__inner {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.tabs__item {
    margin-bottom: 5rem;
    display: flex;
    gap: 2rem;
}

.tabs__item-btn {
    padding: 0 9rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 15px 15px 0px 0px;
    background: rgb(77, 172, 184);
}

.tabs-active {
    color: #000;
    background: rgb(250, 250, 250);
}

.tabs__content {
    padding: 4rem;
    border-radius: 30px;
    background: rgb(250, 250, 250);
}

.tabs__content-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.tabs__content-text {
    margin-bottom: 1rem;
    font-weight: 400;
}

.tabs__list {
    margin-left: 2rem;
}

.tabs__list-item {
    font-weight: 400;
    list-style: disc;
}


.tabs__reviews-title {
    margin-bottom: 1rem;
    font-size: 20px;
}

.tabs__reviews-img {
    margin-bottom: 1rem;
}

.tabs__reviews-text {
    margin-bottom: 1rem;
    font-weight: 400;
}

.tabs__reviews-name {
    margin-bottom: 4rem;
    font-family: 'Gilroy';
    font-weight: 500;
}

.show {
    display: block;
}

.hide {
    display: none;
}